.dt-sandbox {
}

.dt-charts-row-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.dt-charts-col-1 {
  margin-right: 15px;
}

.dt-charts-col-2 {
  flex-grow: 1;
  width: 0;
  min-width: 300px;
}
