* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  fill: var(--special);
}

svg path {
  stroke: var(--special);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
