* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: M, sans-serif !important;
}

.is-title {
  font-family: T, sans-serif !important;
}

h1,
h2,
h3 {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'M';
  src: url('/fonts/M.otf') format('opentype');
}

@font-face {
  font-family: 'T';
  src: url('/fonts/T.ttf') format('truetype');
}
